html,
body {
  font-family: "Lato", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility class */
.py-1 {
  padding-left: 5rem;
}

.py-2 {
  padding: 1.5rem 0 1.5rem 0;
}

.container {
  padding: 2.5rem;
}

.header-container {
  display: flex;
  flex-basis: 300px;
}

#profile {
  flex-shrink: 0;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
}

#profile img {
  transform: rotate(180deg);
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#fullname,
#contact {
  padding-left: 7rem;
  padding-top: 3rem;
}

.personal-container {
  display: flex;
  flex-basis: 300px;
}

.title {
  width: 250px;
  text-align: center;
  flex-shrink: 0;
}

.skills-container {
  display: flex;
  flex-basis: 300px;
}

.skill-list {
  display: flex;
  flex-grow: 1;
}

.skill-set-1,
.skill-set-2,
.skill-set-3 {
  flex-grow: 1;
}

.experience-container {
  display: flex;
  flex-basis: 300px;
}

.experience-details ul {
  padding-bottom: 1rem;
}

.duration {
  padding-bottom: 0.5rem;
  font-size: italic;
}

.education-container {
  display: flex;
  flex-basis: 300px;
}

.hobbies-container {
  display: flex;
  flex-basis: 300px;
}
